/* Air */
@font-face {
    font-family: 'TUV SUD Pro';
    src:
        url('https://madc.tuvsud.com/asset/a25d3ab9-fe82-41f4-bb1b-d92093874f46/TUVSUDPro-Air_WOFF2.woff2')
            format('woff2'),
        url('https://madc.tuvsud.com/asset/a6b95034-b2a3-4456-ad0a-ed5dd06794f1/TUVSUDPro-Air_WOFF.woff') format('woff'),
        url('../fonts/TUVSUDPro-Air.woff2') format('woff2'),
        url('../fonts/TUVSUDPro-Air.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TUV SUD Pro';
    src:
        url('https://madc.tuvsud.com/asset/d9663384-71f2-4180-a51f-c06f6b864286/TUVSUDPro-AirItalic_WOFF2.woff2')
            format('woff2'),
        url('https://madc.tuvsud.com/asset/685a4a10-0cb9-4042-8f47-5b30be05f653/TUVSUDPro-AirItalic_WOFF.woff')
            format('woff'),
        url('../fonts/TUVSUDPro-AirItalic.woff2') format('woff2'),
        url('../fonts/TUVSUDPro-AirItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

/* Thin */
@font-face {
    font-family: 'TUV SUD Pro';
    src:
        url('https://madc.tuvsud.com/asset/30348a6e-185c-4fd1-8ca2-bc4b2873c45b/TUVSUDPro-Thin_WOFF2.woff2')
            format('woff2'),
        url('https://madc.tuvsud.com/asset/38b962f3-4370-4860-8b2a-09dac52126e9/TUVSUDPro-Thin_WOFF.woff')
            format('woff'),
        url('../fonts/TUVSUDPro-Thin.woff2') format('woff2'),
        url('../fonts/TUVSUDPro-Thin.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TUV SUD Pro';
    src:
        url('https://madc.tuvsud.com/asset/0fd494b2-03d9-46a2-9d2b-7c85e9db830e/TUVSUDPro-ThinItalic_WOFF2.woff2')
            format('woff2'),
        url('https://madc.tuvsud.com/asset/486a8a6a-0936-4435-af1e-83a9ebcce2ae/TUVSUDPro-ThinItalic_WOFF.woff')
            format('woff'),
        url('../fonts/TUVSUDPro-ThinItalic.woff2') format('woff2'),
        url('../fonts/TUVSUDPro-ThinItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

/* Light */
@font-face {
    font-family: 'TUV SUD Pro';
    src:
        url('https://madc.tuvsud.com/asset/dbe2c635-6e21-474f-b859-5c01b81ff5b4/TUVSUDPro-Light_WOFF2.woff2')
            format('woff2'),
        url('https://madc.tuvsud.com/asset/1d111800-883f-4c2a-8b0f-7c6940926604/TUVSUDPro-Light_WOFF.woff')
            format('woff'),
        url('../fonts/TUVSUDPro-Light.woff2') format('woff2'),
        url('../fonts/TUVSUDPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TUV SUD Pro';
    src:
        url('https://madc.tuvsud.com/asset/33dc6588-043a-4717-abec-8582d8b14e5b/TUVSUDPro-LightItalic_WOFF2.woff2')
            format('woff2'),
        url('https://madc.tuvsud.com/asset/cb5b9146-1d2c-49eb-8ea1-056eda95fc56/TUVSUDPro-LightItalic_WOFF.woff')
            format('woff'),
        url('../fonts/TUVSUDPro-LightItalic.woff2') format('woff2'),
        url('../fonts/TUVSUDPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

/* Regular */
@font-face {
    font-family: 'TUV SUD Pro';
    src:
        url('https://madc.tuvsud.com/asset/b0ef565b-8a7d-4920-9f51-78cda91c2121/TUVSUDPro-Regular_WOFF2.woff2')
            format('woff2'),
        url('https://madc.tuvsud.com/asset/fdd034f2-9839-4911-966d-1ea5ab27de31/TUVSUDPro-Regular_WOFF.woff')
            format('woff'),
        url('../fonts/TUVSUDPro-Regular.woff2') format('woff2'),
        url('../fonts/TUVSUDPro-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TUV SUD Pro';
    src:
        url('https://madc.tuvsud.com/asset/eac1d93a-aaf8-40fc-8b1c-465c838a9d4a/TUVSUDPro-RegularItalic_WOFF2.woff2')
            format('woff2'),
        url('https://madc.tuvsud.com/asset/cab5a3d9-32cf-4c42-a92f-d93338644619/TUVSUDPro-RegularItalic_WOFF.woff')
            format('woff'),
        url('../fonts/TUVSUDPro-RegularItalic.woff2') format('woff2'),
        url('../fonts/TUVSUDPro-RegularItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* Medium */
@font-face {
    font-family: 'TUV SUD Pro';
    src:
        url('https://madc.tuvsud.com/asset/e2bd4e82-5485-45bd-95f7-f8a727dd5705/TUVSUDPro-Medium_WOFF2.woff2')
            format('woff2'),
        url('https://madc.tuvsud.com/asset/4b6b04b2-0fc4-4c28-b41a-4f10e8f9b2a3/TUVSUDPro-Medium_WOFF.woff')
            format('woff'),
        url('../fonts/TUVSUDPro-Medium.woff2') format('woff2'),
        url('../fonts/TUVSUDPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TUV SUD Pro';
    src:
        url('https://madc.tuvsud.com/asset/76f2f8c1-7965-457e-ae27-689a1a41f65b/TUVSUDPro-MediumItalic_WOFF2.woff2')
            format('woff2'),
        url('https://madc.tuvsud.com/asset/a24e6270-aca5-48db-81f3-409b0a83f50d/TUVSUDPro-MediumItalic_WOFF.woff')
            format('woff'),
        url('../fonts/TUVSUDPro-MediumItalic.woff2') format('woff2'),
        url('../fonts/TUVSUDPro-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

/* Bold */
@font-face {
    font-family: 'TUV SUD Pro';
    src:
        url('https://madc.tuvsud.com/asset/eaa912a3-3a86-4b0c-8fc7-b78042d981b7/TUVSUDPro-Bold_WOFF2.woff2')
            format('woff2'),
        url('https://madc.tuvsud.com/asset/19fd1bef-603e-4dc6-abab-afe59e4a0a54/TUVSUDPro-Bold_WOFF.woff')
            format('woff'),
        url('../fonts/TUVSUDPro-Bold.woff2') format('woff2'),
        url('../fonts/TUVSUDPro-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TUV SUD Pro';
    src:
        url('https://madc.tuvsud.com/asset/f5e92e80-aa07-4e61-b977-4d41bd58a884/TUVSUDPro-BoldItalic_WOFF2.woff2')
            format('woff2'),
        url('https://madc.tuvsud.com/asset/01509fce-e922-4c75-a82d-92d344ffb8f3/TUVSUDPro-BoldItalic_WOFF.woff')
            format('woff'),
        url('../fonts/TUVSUDPro-BoldItalic.woff2') format('woff2'),
        url('../fonts/TUVSUDPro-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

/* Black */
@font-face {
    font-family: 'TUV SUD Pro';
    src:
        url('https://madc.tuvsud.com/asset/de354031-fb9a-4ef8-af26-a2b03444a238/TUVSUDPro-Black_WOFF2.woff2')
            format('woff2'),
        url('https://madc.tuvsud.com/asset/23274af9-cd1a-48ee-bc2c-3ef8d5bbd905/TUVSUDPro-Black_WOFF.woff')
            format('woff'),
        url('../fonts/TUVSUDPro-Black.woff2') format('woff2'),
        url('../fonts/TUVSUDPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TUV SUD Pro';
    src:
        url('https://madc.tuvsud.com/asset/cfd917e4-587e-40b3-bc63-33452d90358b/TUVSUDPro-BlackItalic_WOFF2.woff2')
            format('woff2'),
        url('https://madc.tuvsud.com/asset/0d6b43f6-3205-4de2-8c7f-5b16e571d8a1/TUVSUDPro-BlackItalic_WOFF.woff')
            format('woff'),
        url('../fonts/TUVSUDPro-BlackItalic.woff2') format('woff2'),
        url('../fonts/TUVSUDPro-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
