# Dependencies
node_modules/

# Build & Coverage
dist/
dist-figma/
coverage/
storybook-static/
.cache
.size-analysis

# Logs & Temp Files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tmp
*.temp

# IDE & Editor Settings
.vscode/
.idea/
*.swp

# OS Generated
.DS_Store
Thumbs.db

# Env & Secrets
.env
.env.*
!.env.example

# Storybook
*storybook.log

# TypeScript build info
*.tsbuildinfo

# Local test files
playwright-report/
test-results/
.eslintcache