registry=https://registry.npmjs.org/

@tuvsud:registry=https://pkgs.dev.azure.com/tuvsud01/_packaging/design-system/npm/registry/
//pkgs.dev.azure.com/tuvsud01/_packaging/design-system/npm/registry/:_authToken=${AZURE_NPM_TOKEN}

@tuvsud-figma:registry=https://registry.figma.com/npm/47b70d29-1b38-4307-bc23-1c0fda0d77f3/registry/
//registry.figma.com/npm/47b70d29-1b38-4307-bc23-1c0fda0d77f3/registry/:_authToken=${FIGMA_NPM_TOKEN}